body{
background-color: #6699CC;
}

.header{
justify-content: center; text-align: center;
color: #FF0033;
font-size: 200px;
}

.firsttxt{
justify-content: center; text-align: center;
 margin-top: 5%;
}

.secondtxt{
margin 0;
    position: absolute;
    top: 60%;
    left: 42.2%;
}

.tvbutton{
height: 5%;
    width: 17%;
    margin 0;
    position: absolute;
    top: 70%;
    left: 45.8%;
}
.username{
width:315px;
}
.password{
width:315px;
}